# Clerk
NUXT_CLERK_SECRET_KEY=
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Supabase
NUXT_SUPABASE_SERVICE_ROLE_KEY=
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_ANON_KEY=

# Telegram
NUXT_TELEGRAM_BOT_TOKEN=
NUXT_PUBLIC_TELEGRAM_BOT_USERNAME=

# Resend
NUXT_RESEND_API_KEY=
